# STM32H743ZI Nucleo board configuration

# Copyright (c) 2020 Teslabs Engineering S.L.
# SPDX-License-Identifier: Apache-2.0

config BOARD_GENERIC_H750VB
	bool "Generic H750 Development Board"
	depends on SOC_STM32H750XX
