/dts-v1/;
#include <st/h7/stm32h750Xb.dtsi>
#include <st/h7/stm32h750vbtx-pinctrl.dtsi>

/ {
	model = "H750 Dragonman board";
	compatible = "st,stm32h750vb-nucleo";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,flash-controller = &mx25l3233f;
		zephyr,dtcm = &dtcm;
		zephyr,code-partition = &slot0_partition;
	};

	leds {
		compatible = "gpio-leds";
		green_led: led_0 {
			gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;
			label = "User LD1";
		};
	};

	pwmleds {
		compatible = "pwm-leds";

		red_pwm_led: red_pwm_led {
			pwms = <&pwm1 1 4 PWM_POLARITY_NORMAL>;
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		user_button: button_0 {
			label = "User";
			gpios = <&gpioc 13 GPIO_ACTIVE_HIGH>;
		};
	};

	aliases {
		led0 = &green_led;
		pwm-led0 = &red_pwm_led;
		sw0 = &user_button;
		spi-flash0 = &mx25l3233f;
		sdhc0 = &sdmmc1;
	};
};

&clk_hse {
	clock-frequency = <DT_FREQ_M(8)>;
	status = "okay";
};

&pll {
	div-m = <4>;
	mul-n = <384>;
	div-p = <2>;
	div-q = <16>;
	div-r = <2>;
	clocks = <&clk_hse>;
	status = "okay";
};

&rcc {
	clocks = <&pll>;
	clock-frequency = <DT_FREQ_M(384)>;
	d1cpre = <1>;
	hpre = <2>;
	d1ppre = <2>;
	d2ppre1 = <2>;
	d2ppre2 = <2>;
	d3ppre = <2>;
};

&usart1 {
	pinctrl-0 = <&usart1_tx_pa9 &usart1_rx_pa10>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

&rtc {
	status = "okay";
};

&timers1 {
	status = "okay";

	pwm1: pwm {
		status = "okay";
		pinctrl-0 = <&tim1_ch1_pa8>;
		pinctrl-names = "default";
	};
};

&rng {
	status = "okay";
};

&backup_sram {
	status = "okay";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		/* 128KB for bootloader */
		slot0_partition: partition@0 {
			label = "image-0";
			reg = <0x00000000 0x00020000>;
			read-only;
		};
	};
};

&iwdg1 {
	status = "okay";
};

&quadspi {
	pinctrl-names = "default";
	pinctrl-0 = <
			&quadspi_clk_pb2
			&quadspi_bk2_ncs_pc11
			&quadspi_bk2_io0_pe7
			&quadspi_bk2_io1_pe8
			&quadspi_bk2_io2_pe9
			&quadspi_bk2_io3_pe10
	>;
	flash-id = <2>;
	status = "okay";

	mx25l3233f: qspi-nor-flash-1@0 {
		compatible = "st,stm32-qspi-nor";
		reg = <0>;
		qspi-max-frequency = <72000000>;
		size = <DT_SIZE_M(32)>; /* 4 MBytes */
		spi-bus-width = <4>;
		status = "okay";

		partitions {
			   compatible = "fixed-partitions";
			   #address-cells = <1>;
			   #size-cells = <1>;

			   storage_partition: partition@0 {
			       reg = <0x0 DT_SIZE_M(2)>;
			   };
		};
	};
};

zephyr_udc0: &usbotg_fs {
	pinctrl-0 = <&usb_otg_fs_dm_pa11 &usb_otg_fs_dp_pa12>;
	pinctrl-names = "default";
	status = "okay";
};

&sdmmc1 {
	pinctrl-0 = <
		&sdmmc1_d0_pc8
		&sdmmc1_ck_pc12
		&sdmmc1_cmd_pd2
	>;
	pinctrl-names = "default";
	bus-width = <1>;
	status = "okay";
	label = "SD";
};
