CONFIG_CLOCK_CONTROL=y
CONFIG_PINCTRL=y
CONFIG_HEAP_MEM_POOL_SIZE=65536
CONFIG_GPIO=y
CONFIG_HW_STACK_PROTECTION=y
CONFIG_SOC_SERIES_STM32H7X=y
CONFIG_SOC_STM32H750XX=y
CONFIG_ARM_MPU=y
# CONFIG_INIT_STACKS is not set
# CONFIG_THREAD_MONITOR is not set
# CONFIG_THREAD_NAME is not set
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y
CONFIG_FLASH=y
CONFIG_FLASH_SHELL=y
CONFIG_FLASH_SHELL_TEST_COMMANDS=y
CONFIG_GPIO_SHELL=y
CONFIG_MPSC_PBUF=y
CONFIG_REBOOT=y
CONFIG_FILE_SYSTEM=y
CONFIG_FILE_SYSTEM_SHELL=y
CONFIG_FILE_SYSTEM_SHELL_TEST_COMMANDS=y
CONFIG_FILE_SYSTEM_SHELL_BUFFER_SIZE=0x4000
CONFIG_FILE_SYSTEM_MKFS=y
CONFIG_FILE_SYSTEM_LITTLEFS=y
CONFIG_LOG_OUTPUT=y
CONFIG_SHELL=y
CONFIG_FLASH_MAP=y
CONFIG_FLASH_MAP_SHELL=y
